.App {
  text-align: center;
}

.container {
  width: 50%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-info {
  display: grid;
  grid-template-columns: 5fr 1fr;
  border: 1px solid grey;
}

button {
  margin-top: 20px;
  margin-right: 10px;
  color: red;
}

.addbutton {
  text-align: center;
}

.addbutton > button {
  font-size: 1.5rem;
  color: #122e64;
  font-weight: bold;
}

.updateButton {
  color: rgb(10, 124, 10);
}

.deleteButton {
  color: rgb(204, 19, 19);
}

h2 {
  text-align: center;
  color: rgba(5, 53, 59, 0.699);
}

p{
  text-align: center;
  color: rgba(10, 96, 107, 0.829);
}

b{
  color: rgba(0, 0, 0, 0.774);
}

h3 {
  color: rgba(0, 0, 0, 0.87);
}

.updateInputField {
  padding: 1.5rem;
  border: 1px solid grey;
  position: absolute;
  top: 5rem;
  right: 4rem;
}

.process-update {
  font-size: 1rem;
  color: #0c1c3d;
}

input {
  width: 180px;
  padding: 5px;
}


.spinner{
   margin:auto;
}